# Telegram Bot Token (get from @BotFather)
TG_TOKEN=Y8966527818:AAHX8x890YUoXbBSepEs2gHb3Vp0RBeBe6Q

# Google Sheet ID (from the spreadsheet URL)
SPREADSHEET_ID=1U5jrRVoxEM0ICu5VJZjrH8Ccljaa36CPav80UP41Rp8

# Comma-separated list of Telegram User IDs allowed to use the bot
ALLOWED_USERS=@thereal_vadim

# Path to the Google Service Account credentials JSON file
CREDENTIALS_FILE=credentials.json
